dc_private_ip_address       = "10.0.1.4"
hub_vnet_name = ""
hub_vnet_id = ""
hub_vnet_resource_group = ""
session_host_admin_username = ""
session_host_admin_password = "doYouLikeAVD?Igue$$"
session_host_domain = ""
session_host_domainuser = ""
session_host_domainpassword = ""
session_host_oupath = ""
image_offer = "windows-10"
image_publisher = "microsoftwindowsdesktop"
image_sku = "win10-21h2-ent"
image_version = "latest"